<div id="ageRequest" class="confirmation-prompt"
     ng-show="showAgeRequest()">
  <div>
    <h3>Step 3 of 3: Select Birthdate</h3>
    <p>
      Your birthdate determines when you can start
      collecting Social Security benefits.
    </p>
  </div>

  <input type=date id=birthday-input value={{selfBirthdayInput}}
         ng-model="selfBirthdayInput"
         ng-change="updateBirthdate()">

  <br class=clear>

  <div>
    <button ng-click="confirmBirthDate()" class=success>
      <ico>&#10003;</ico> Next
    </button>
  </div>
</div>
