<div id=frequentQuestions class="fixed-center-column"
     ng-show="showReport()" ng-cloak>
  <h2>Additional Questions</h2>
  <section class=frequent-questions>
    <input type=checkbox id=q1>
    <label for=q1>Will inflation reduce the real value of my benefit?</label>
    <p>
      No. If you look closely at the earnings table at the very top
      of this report, you'll notice that years further in the past
      have higher multipliers on your earnings than more recent years.
      Every year, the Social Security Administration adjusts all of these
      multipliers upwards to account for inflation.
    </p>
    <p>
      The numbers in this report are showing the value in today's dollars. For
      example, if there is 10% inflation between now and the time you collect
      your benefit, then the actual benefit will be approximately 10% higher.
      In fact, your benefit will continue to grow to match inflation even in
      retirement. However, once you start taking your benefit, these increases
      will only be to match inflation, not a higher amount.
    </p>
  </section>    
  <section class=frequent-questions>
    <input type=checkbox id=q2>
    <label for=q2>Will Social Security still exist by the time I retire?</label>
    <p>
      Very likely yes, but there will likely be some changes along the way. This
      website cannot predict future changes to the law, it only shows you what
      your benefit will be under current law.
    </p>
    <p>
      You may have heard that the Social Security program is running out of
      money. This is technically true, but only part of the story. Social
      Security is both paying out money to retirees and also collecting money
      from workers at the same time. Over it's 80-year history, the program
      has collected more money than it has paid out and has about a $3 trillion
      reserve of extra funds. However, in recent years the program is paying
      out more than it is collecting, and so the fund is shrinking.
    </p>
    <p>
      Current estimates are that the fund will run out in 2037. At that time,
      the program will still be collecting money, and those collections will
      cover all but 21% of the current payments. So, if nothing at all changes
      by 2037, the numbers above will be reduced by 21% but the payments will
      still continue. Roughly speaking, your primary insurance amount of 
      <b>${{taxEngine.estimatedFullBenefit() | number:2}}</b> would be reduced
      to:
      <b>${{taxEngine.estimatedFullBenefit() * 0.79 | number:2}}</b>. This is
      the 'worst case' scenario.
    </p>
    <p>
      More information:
      <a href="https://www.ssa.gov/policy/docs/ssb/v70n3/v70n3p111.html">
        The Future Financial Status of the Social Security Program
      </a>
      <br>
      Social Security Office of Retirement and Disability Policy
    </p>
    <p>
      There are multiple mechanisms by which Congress could conceivably 'fix'
      the Social Security deficit, which would have less of an impact than the
      'worst case' scenario. What will ultimately happen is unknown. Some of
      the ideas that have been 
      <a href="https://www.ssa.gov/OACT/solvency/provisions/index.html">
        proposed</a> include:
    </p>
    <ul>
      <li>Increase the payroll tax which funds the program.</li>
      <li>Raise the ages at which benefits begin.</li>
      <li>
        Change the method by which inflation adjustments are made to a more
        slowly rising value.
      </li>
      <li>
        Change the bend points or ratios for the curve of annual indexed
        earnings.
      </li>
      <li>Reduce the number of years from which benefits are calculated.</li>
      <li>Reduce the spousal benefit.</li>
      <li>Invest a percentage of the fund in equities.</li>
    </ul>
  </section>    
  <section class=frequent-questions>
    <input type=checkbox id=q3>
    <label for=q3>Are Social Security benefits taxed?</label>
    <p>
      Yes, however only some of it. The exact computation is complicated and
      depends on your overall income, but up to 85% of your benefits may
      be taxed federally. Many states do not tax social security, but some do.
    </p>
  </section>    
  <section class=frequent-questions>
    <input type=checkbox id=q4>
    <label for=q4>At what age should I choose to start my benefits?</label>
    <p>
      It depends. You can see above how the age you choose affects your
      benefit amount over your lifetime. By delaying, you'll have a higher
      benefit when you do start taking it.
    </p>
    <p>
      One consideration might be your health at the time of retirement. If you
      are unhealthy and unlikely to have many years of social security benefits,
      you may want to choose to begin benefits sooner. Conversely, if your
      health is excellent and you have reason to believe you will live to an
      old age, you may want to delay benefits and have higher amounts later in
      life.
    </p>
    <p>
      Typically retirees have to worry more about finances the longer they live.
      Spending down savings over longer numbers of years increases the chance
      of running out or having to cut spending every year. Delaying Social
      Security benefits can be seen as a sort of insurance against the
      financial risk that living a long life brings.
    </p>
  </section>    
  <section class=frequent-questions>
    <input type=checkbox id=q5>
    <label for=q5>How can I save this report?</label>
    <p>
      This report is intentionally not saved anywhere, to protect your privacy.
      By closing your browser, all of the information here will be lost. If
      you would like to save this report, most browsers will let you 'print'
      a webpage as a PDF file. To do so, simply print the page as normal, but
      when selecting a destination printer, choose "Save as PDF" instead.
    </p>
  </section>    
  <section class=frequent-questions>
    <input type=checkbox id=q6>
    <label for=q6>How do I report a bug?</label>
    <p>
      See the 'contact' link at the top of the page. This site is maintained
      with the intention of providing correct information, but should not be
      relied upon for financial planning purposes. It is possible that the
      information presented here may be incomplete or incorrect. If you find
      any issues, or have suggestions, please don't hesitate to contact me.
    </p>
    <p>
      However, please do not send me general questions about social security.
      The best place for questions of that nature is the Social Security
      Administration itself.
    </p>
  </section>    
</div>
