<span id=frequentQuestions ng-if="mode === ModeEnum.RENDER_EARNINGS" ng-cloak>
  <a class=offset-nav id=nav-faq></a>
  <h2>Additional Questions</h2>
  <section class=frequent-questions>
    <input type=checkbox id=q1>
    <label for=q1>Will inflation reduce the real value of my benefit?</label>
    <p>
      No. Social Security benefits are ajusted for inflation. The numbers in
      this report show the value in today's dollars. For example, if there is
      10% wage growth inflation between now and the time you collect your
      benefit, then the actual benefit (in terms of the actual number of
      dollars in your check) will be approximately 10% higher than this
      report shows.
    </p>
    <p>
      For a more detailed explanation, see
      <a href="/guide/inflation.html" target="_blank">
        the following detailed guide on Social Security and Inflation</a>.
    </p>
  </section>    
  <section class=frequent-questions>
    <input type=checkbox id=q2>
    <label for=q2>Will Social Security still exist by the time I retire?</label>
    <p>
      Very likely yes, but there will probably be some changes along the way.
      This website cannot predict future changes to the law, it can only show
      you what your benefit will be under current law.
    </p>
    <p>
      You may have heard that the Social Security program is running out of
      money. This is technically true, but only part of the story. Social
      Security is both paying out money to retirees and also collecting money
      from workers at the same time. Over its 80-year history, the program
      has collected more money than it has paid out and has about a $3 trillion
      reserve of extra funds. However, in recent years the program is paying
      out more than it is collecting, and so the fund is shrinking.
    </p>
    <p>
      Current estimates are that the fund will run out in 2037. At that time,
      the program will still be collecting money, and those collections will
      cover all but 21% of the current payments. So, if nothing changes
      by 2037, the calculated benefit may be be reduced by 21%, but the
      payments will still continue. Roughly speaking, your primary insurance
      amount of
      <b>${{recipient.primaryInsuranceAmount() | number:2}}</b> would be reduced
      to:
      <b>${{recipient.primaryInsuranceAmount() * 0.79 | number:2}}</b>. This is
      the 'worst case' scenario.
    </p>
    <p>
      More information:
      <a href="https://www.ssa.gov/policy/docs/ssb/v70n3/v70n3p111.html">
        The Future Financial Status of the Social Security Program
      </a>
      <br>
      Social Security Office of Retirement and Disability Policy
    </p>
    <p>
      There are multiple mechanisms by which Congress could conceivably 'fix'
      the Social Security deficit, which would have less of an impact than the
      'worst case' scenario. What will ultimately happen is unknown. Some of
      the ideas that have been 
      <a href="https://www.ssa.gov/OACT/solvency/provisions/index.html">
        proposed</a> include:
    </p>
    <ul>
      <li>Increase the payroll tax which funds the program.</li>
      <li>Raise the ages at which benefits begin.</li>
      <li>
        Change the method by which inflation adjustments are made to a more
        slowly rising value.
      </li>
      <li>
        Change the bend points or ratios for the curve of annual indexed
        earnings.
      </li>
      <li>Reduce the number of years from which benefits are calculated.</li>
      <li>Reduce the spousal benefit.</li>
      <li>Invest a percentage of the fund in equities.</li>
    </ul>
  </section>    
  <section class=frequent-questions>
    <input type=checkbox id=q3>
    <label for=q3>Are Social Security benefits taxed?</label>
    <p>
      It depends. The exact computation is complicated and depends on your
      overall income, but no more than 85% of your benefits are subject to
      federal income tax. Many states do not tax Social Security, but some do.
    </p>
  </section>
  <section class=frequent-questions>
    <input type=checkbox id=q4>
    <label for=q4>Will my benefit check be exactly this amount?</label>
    <p>
      No. There are a number of deductions that can be taken from the payment.
      These don't technically reduce your benefit, but they reduce the
      amount of your payment check. Examples include:
    </p>
    <ul>
      <li>
        Income tax withholding
        [<a href="https://www.ssa.gov/planners/taxwithold.html">ssa.gov</a>]
      </li>
      <li>
        Medicare (health insurance) Part B premium
        [<a href="https://www.medicare.gov/your-medicare-costs/paying-parts-a-and-b/pay-parts-a-and-b-premiums.html">medicare.gov</a>].
      </li>
      <li>
        Garnishments (ex: back taxes, student loans, alimony, child support).
      </li>
    </ul>
  </section>
  <section class=frequent-questions>
    <input type=checkbox id=q5>
    <label for=q5>How can I save this report?</label>
    <p>
      This report is intentionally not saved anywhere, to protect your privacy.
      By closing your browser, all of the information here will be lost. If
      you would like to save this report, most browsers will let you 'print'
      a webpage as a PDF file. To do so, simply print the page as normal, but
      when selecting a destination printer, choose "Save as PDF" instead.
    </p>
  </section>    
  <section class=frequent-questions>
    <input type=checkbox id=q6>
    <label for=q6>How do I report a bug?</label>
    <p>
      See the 'contact' link at the top of the page. This site is maintained
      with the intention of providing correct information, but should not be
      relied upon for financial planning purposes. It is possible that the
      information presented here may be incomplete or incorrect. If you find
      any issues, or have suggestions, please don't hesitate to contact me.
    </p>
    <p>
      However, please do not send me general questions about Social Security.
      The best place for questions of that nature is the
      <a href="https://www.ssa.gov">Social Security Administration</a> itself.
    </p>
  </section>    
</span>
