<div ng-show="showReport()" class="fixed-left-column" class="ng-cloak"
  class="nav navbar-inverse navbar-fixed-top"
  id=navbar ng-init="affixNavbar()">
  <ul class="nav">
    <li ng-show="demoId > -1">
      <a href="#nav-demodata" data-ng-click="scrollTo('nav-demodata')">
        <div class=navlabel>Demo Data</div>
        <i class="glyphicon glyphicon-chevron-right"></i>
      </a>
    </li>
    <li ng-show="demoId === -1">
      <a href="#nav-birthdate" data-ng-click="scrollTo('nav-birthdate')">
        <div class=navlabel>Birth Date</div>
        <i class="glyphicon glyphicon-chevron-right"></i>
      </a>
    </li>
    <li>
      <a href="#nav-earnings" data-ng-click="scrollTo('nav-earnings')">
        <div class=navlabel>Earnings Record</div>
        <i class="glyphicon glyphicon-chevron-right"></i>
      </a>
    </li>
    <li>
      <a href="#nav-pia" data-ng-click="scrollTo('nav-pia')">
        <div class=navlabel>Primary Insurance Amount</div>
        <i class="glyphicon glyphicon-chevron-right"></i>
      </a>
    </li>
    <li>
      <a href="#nav-nra" data-ng-click="scrollTo('nav-nra')">
        <div class=navlabel>Normal Retirement Age</div>
        <i class="glyphicon glyphicon-chevron-right"></i>
      </a>
    </li>
    <li>
      <a href="#nav-early-delayed"
         data-ng-click="scrollTo('nav-early-delayed')">
        <div class=navlabel>Early and Delayed Retirement</div>
        <i class="glyphicon glyphicon-chevron-right"></i>
      </a>
    </li>
    <li>
      <a href="#nav-spouse" data-ng-click="scrollTo('nav-spouse')">
        <div class=navlabel>Spouse's Data</div>
        <i class="glyphicon glyphicon-chevron-right"></i>
      </a>
    </li>
    <li ng-show=isMarried()>
      <a href="#nav-spouse-benefit"
        data-ng-click="scrollTo('nav-spouse-benefit')">
        <div class=navlabel>Spousal Benefit</div>
        <i class="glyphicon glyphicon-chevron-right"></i>
      </a>
    </li>
    <li ng-show=isMarried()>
      <a href="#nav-early-delayed-spouse"
        data-ng-click="scrollTo('nav-early-delayed-spouse')">
        <div class=navlabel>Early and Delayed Spouse Retirement</div>
        <i class="glyphicon glyphicon-chevron-right"></i>
      </a>
    </li>
    <li ng-show=isMarried()>
      <a href="#nav-early-delayed-combined"
        data-ng-click="scrollTo('nav-early-delayed-combined')">
        <div class=navlabel>Early and Delayed Combined Retirement</div>
        <i class="glyphicon glyphicon-chevron-right"></i>
      </a>
    </li>
    <li ng-show=isMarried()>
    <li>
      <a href="#nav-survivor" data-ng-click="scrollTo('nav-survivor')">
        <div class=navlabel>Survivor Benefits</div>
        <i class="glyphicon glyphicon-chevron-right"></i>
      </a>
    </li>
    <li>
      <a href="#nav-age-decision" data-ng-click="scrollTo('nav-age-decision')">
        <div class=navlabel>Deciding what age to start benefits</div>
        <i class="glyphicon glyphicon-chevron-right"></i>
      </a>
    </li>
    <li>
      <a href="#nav-faq" data-ng-click="scrollTo('nav-faq')">
        <div class=navlabel>Additional Questions</div>
        <i class="glyphicon glyphicon-chevron-right"></i>
      </a>
    </li>
  </ul>
</div>
