<span id="pastePrompt" ng-if="mode === ModeEnum.INITIAL">
  <div class="instructions">
    <br>
    <p>
      To use the calculator, you must provide some data from your Social
      Security record.
    </p>
    <p>
      If you aren't ready for that yet, select a demo data set at the
      bottom of the page.
    </p>

    <h1>Retrieve <u>your</u> Social Security data:</h1>
    <ol>
      <li>
        Login to
        <a target="_blank"
          href="https://secure.ssa.gov/RIL/SiView.action">ssa.gov</a>.
        You may need to create an account if you haven't already.
      </li>
      <li>
        Click to navigate to the "Earnings Record" page of the site.
      </li>
      <li>
        Copy the earnings table. It should look similar to the example below,
        with different numbers and years.
        <video id=pia_vid autoplay playsinline loop muted disableRemotePlayback
          width=576 height=294 poster="/static/copy-paste-demo-poster.jpg"
          title="Animation showing a user copying a social security earnings record from ssa.gov.">
          <source src="/static/copy-paste-demo.mp4" type="video/mp4">
        </video>
        You can select the table by dragging your mouse over the entire table to
        select, or you can just use 'Control+A' to select the entire page.
        Either way will work. Copy the text with 'Control+C'.
      </li>
      <li>
        Return to this page, paste the result into the text area below with
        'Control+V'.
      </li>
    </ol>
  </div>

  <div class="pastearea">
    <div class=pasteareaoffsetleft>
      <textarea id=pastearea wrap=off ng-model="pasteArea.contents"
        placeholder="{{::pasteArea.placeholder}}" tabindex=1></textarea>
      <p>
        <span class=lock>&#x1f512;</span> Your data never leaves your own
        computer: the report is generated entirely by JavaScript in your
        browser.
      </p>
    </div>
  </div>

  <div class="instructions">
    <p>
      Alternatively, just paste any text formatted string with year and
      earnings in the same line, for example:
    </p>
    <pre style="margin: auto; width: 140px">2000 $10,000
2001 $15,000</pre>
  </div>

  <div class="instructions">
    <h1>Try out some <u>demo</u> data instead:</h1>
    <p>
      If you aren't ready to take a look at your own Social Security data, you
      can first play with some fictional account data.
    </p>
    <ul class=demos>
      <li>
        Retiree born in 1950, who earned roughly the average US wage.
        <br>
        <button ng-click="loadDemoData(0)" id=button-demo-0 tabindex=2>
          <ico>&#x261b;</ico> Try the Demo
        </button>
      <li>
        Retiree born in 1950 who earned the maximum Social Security wages
        over five years, but nothing otherwise.
        <br>
        <button ng-click="loadDemoData(1)" id=button-demo-1 tabindex=3>
          <ico>&#x261b;</ico> Try the Demo
        </button>
      </li>
      <li>
        Early career, born in 1985, $40k/year starting salary in 2005 with
        4% annual raises.
        <br>
        <button ng-click="loadDemoData(2)" id=button-demo-2 tabindex=3>
          <ico>&#x261b;</ico> Try the Demo
        </button>
      </li>
    </ul>
  </div>
</span>
