<div id=topEarningsData class="top-earnings-data fixed-center-column"
  ng-show="mode === ModeEnum.RENDER_EARNINGS" ng-cloak>
  <a class="nav offset-nav" id=nav-pia></a>
  <div class=pageBreakAvoid>
    <h2>Primary Insurance Amount</h2>

    <div ng-show="!recipient.isEligible()">
      <p>
        You do not have enough credits for to be eligible to receive
        retirement benefits on your own earnings. You may be eligible to receive
        benefits on your spouse's earnings.
      </p>
      <p>
        Your <u>primary insurance amount</u> (PIA) is <b>${{0 | number}}</b>
      </p>
    </div>
  </div>

  <div ng-show="recipient.isEligible()">
    <p>
      Your Social Security benefits are best thought of in terms of your
      <u>primary insurance amount</u> (PIA). This is the dollar amount that
      Social Security will pay you every month starting at your
      <u>normal retirement age</u> (NRA). We are going to walk you through the
      calculation of your PIA, and ultimately your actual estimated benefit.
      If applicable, we will also walk you through how your Social Security
      record will earn a benefit for your spouse.
    </p>

    <p>
      Don't let the government mandated acronyms confuse you. Think of the
      primary insurance amount like a salary: it's the amount of money you can
      expect to earn in retirement every month starting at your normal
      retirement age. Your normal retirement age is between 65 and 67, depending
      on what year you were
      born. We'll look at normal retirement age in more detail later in this
      report.
    </p>

    <p>
      You have Social Security earnings recorded for
      <b>{{recipient.numEarningsYears()}}</b> total years. Your PIA is based on
      your <u>Averaged Indexed Monthly Earnings</u> (AIME), a straightforward
      calculation from your lifetime earnings record. So, that's our first step.
    </p>

    <p ng-if="recipient.numEarningsYears() >= 35">
      Only the top 35 years of <u>indexed earnings</u> values are used in
      the calculation of your Averaged Indexed Monthly Earnings (and thus, your
      Primary Insurance Amount). Indexed earnings are simply the payroll wages
      you earned in a year multiplied by a number that adjusts for wage growth
      (similar to an inflation adjustment).
      In your case, this means that years where the indexed earnings value
      falls below <b>${{recipient.cutoffIndexedEarnings | number}}</b> do not
      affect your benefit calculation because they are not among the top 35. If
      you were to earn additional years of wages in the future, they would only
      affect your Social Security if you earned more than
      <b>${{recipient.cutoffIndexedEarnings | number}}</b> in those years.
    </p>

    <p ng-if="recipient.numEarningsYears() < 35">
      The top 35 <u>indexed earnings</u> values are used in the calculation of
      your Averaged Indexed Monthly Earnings (and thus, your Primary Insurance
      Amount). Indexed earnings are simply the capped payroll wages you earned
      in a year multiplied by a number that adjusts for wage growth (similar to
      an inflation adjustment). As you don't have 35 years of earnings yet,
      every additional year you work will increase your benefit a little more.
      Once
      you reach 35 years of earnings values, increasing your Averaged Indexed
      Monthly Earnings amount requires earning more than previous years' indexed
      values.
    </p>

    <p ng-if="!recipient.isOver60()">
      The multipliers in the above table will increase every year through age
      60, at which point they are fixed at 1.0 for everyone. The increase in the
      multipliers through age 60 is determined by US wage growth. Thus, your
      indexed earnings in a given year are scaled to be equivalent to modern
      wages.
    </p>

    <p>
      Currently, your total indexed earnings:
      <br class=onlydisplayunder500>
      <b>${{recipient.totalIndexedEarnings | number:0}}</b>
    </p>

    <p>
      This is simply the sum of the highest 35 values in the indexed earnings
      column above.
    </p>

    <p>
      <!-- ugly alignment to avoid a space appearing between months
          and period/comma. -->
      Your Average Indexed Monthly Earnings is simply your total indexed
      earnings divided by 35 years divided by 12 months<span
        ng-if="recipient.numEarningsYears() >= 35">, as follows:
      </span><span ng-if="recipient.numEarningsYears() < 35">. As you have fewer
        than 35 years of earnings, this average is calculated using zeroes for
        the additional years, as follows:
      </span>
    </p>

    <p>
      Monthly average indexed earnings:
      <br class=onlydisplayunder500>
      <b>${{recipient.totalIndexedEarnings | number:0}}</b> / 35 / 12 =
      <b>${{recipient.monthlyIndexedEarnings | number:0}}</b>
    </p>

    <p>
      Your primary insurance amount is based on your monthly indexed earnings
      using <a href="https://www.ssa.gov/oact/cola/piaformula.html"
        target="_blank">a formula</a>
      that increases your Primary Insurance Amount as your earnings increase,
      but increases more slowly for higher total earnings. Your Primary
      Insurance Amount is calculated from your monthly indexed earnings as
      follows:
    </p>

    <table class="benefitBrackets pageBreakAvoid">
      <tr>
        <td>
          Any amount less than
          ${{firstBendPoint(recipient.indexingYear()) | number:0}}
          is multiplied by 90%:
        </td>
        <td>
          <b>${{recipient.primaryInsuranceAmountByBracket(0) | number:2}}</b>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>
          The amount more than
          ${{firstBendPoint(recipient.indexingYear()) | number:0}}
          and less than
          ${{secondBendPoint(recipient.indexingYear()) | number:0}}
          is multiplied by 32%:
        </td>
        <td>
          <b>${{recipient.primaryInsuranceAmountByBracket(1) | number:2}}</b>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>
          Any <span class="onlydisplay600">remaining</span> amount more than
          ${{secondBendPoint(recipient.indexingYear()) | number: 0}}
          is multiplied by 15%:
        </td>
        <td>
          <b>
            ${{recipient.primaryInsuranceAmountByBracket(2) | number:2}}
          </b>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>Total:</td>
        <td>
          <b>${{recipient.primaryInsuranceAmountUnadjusted() | number:2}}</b>
        </td>
        <td>&nbsp;/ month</td>
      </tr>
    </table>

    <div class=insetTextBox>
      <h4>Special Rule</h4>
      <p>
        You may notice that some of these numbers are short a few pennies.
        Social Security rounds the Primary Insurance Amount down to the dime,
        while benefits are rounded down to the dollar.
      </p>
    </div>

    <div ng-if="recipient.shouldAdjustForCOLA()" class=pageBreakAvoid>
      <p>
        After attaining age 62, your primary insurance amount will increase
        annually in proportion to the consumer price index (CPI-W), a measure of
        inflation. This will continue every year, even after beginning
        to collect your benefit. These adjustments are called
        <u>Cost of Living Adjustments</u> (COLA). Here are the adjustments
        in past years which affect your current Primary Insurance Amount.
      </p>
      <ul>
        <li
          ng-repeat="adjustment in recipient.colaAdjustments() | orderBy : adjustment.year">
          {{adjustment.year}}: <b>{{adjustment.start | number:2}}</b>
          increased by {{adjustment.cola | number:1 }}% =
          <b>{{adjustment.end | number:2}}</b>
        </li>
        <li ng-if="futureCola.isAvailable">
          {{futureCola.year}}: At the <b>end</b> of the year,
          <b>${{recipient.primaryInsuranceAmount() | number:2}}</b>
          will be increased by {{futureCola.adjustment | number:1}}%.
        </li>
      </ul>
    </div>

    <p>
      The final value is your current <u>primary insurance amount (PIA)</u>. It
      will continue to increase every year.
    </p>

    <div class="pia-banner">
      Primary Insurance Amount (PIA): <b>${{recipient.primaryInsuranceAmount() |
        number:2}}</b> / month
    </div>

    <p>
      In the chart below, you can see what your current primary insurance amount
      would be if your indexed earnings were to increase. Move your mouse over
      the chart to see how the primary insurance amount changes.
    </p>

    <div class="chart-container pageBreakAvoid">
      <div class="chart-ylabel pia">
        <span class="vertical-text">Primary Insurance Amount</span>
      </div>

      <canvas id="breakpoint-chart-canvas" width=600 height=400>
        Your browser does not support HTML canvas.
      </canvas>

      <div class="chart-xlabel">
        Monthly Indexed Earnings
      </div>
    </div>
  </div>
</div>
