<div id=sponsor class="fixed-center-column"
  ng-if="mode === ModeEnum.RENDER_EARNINGS" ng-cloak
  onclick="window.open('https://projectionlab.com?ref=ssa-tools')">

  <a class="nav offset-nav" id=nav-sponsor></a>
  <h2>ProjectionLab</h2>
  <h4 style="margin-top: 8px">Sponsor</h4>

  <p>
    Financial planning for retirement is a hard thing to do, a problem that
    ssa.tool's sponsor, <a
      href="https://projectionlab.com?ref=ssa-tools">ProjectionLab</a>, takes on
    head first. With <a
      href="https://projectionlab.com?ref=ssa-tools">ProjectionLab</a>,
    you can build an experiment with a living model of your
    financial life and chart a course towards the financial future you want.
  <p>

    <a href="https://projectionlab.com?ref=ssa-tools">
      <img src="/static/projection-lab.png" width="1160px" height="940px"
        class="sponsor-image image-fit">
    </a>

  <p>
    ProjectionLab models your entire retirement plan, runs Monte Carlo
    simulations using historical market data, and provides clear visualizations.
    Like this site, you can even try ProjectionLab out initially for free with
    no sign-up.
  </p>

  <p>
    If you do sign up after visiting through the link here, you will be helping
    to support ssa.tools keep develop new features for yourself and others.
  </p>
</div><!-- id=sponsor -->
