<div id=spousalBenefit class="benefit-estimate fixed-center-column"
     ng-show="showReport()" ng-cloak>

  <h2 id="nav-spouse">Spouse's Data</h2>
  <p ng-show="isMarried()">
    If you are not married, you can hide this section.
  </p>
  <p ng-show="!isMarried()">
    If you are married, you can expand this section.
  </p>

  <div class=married-options>
    <input type=radio ng-model="married.value" value=false id=not-married checked ng-change="refreshSlider()">
    <label for=not-married class=clickCursor>Not Married</label>
    <input type=radio ng-model="married.value" value=true id=married ng-change="refreshSlider()">
    <label for=married class=clickCursor>Married</label>
  </div>

</div>

<div id=isMarried class="benefit-estimate fixed-center-column"
     ng-show="showReport() && isMarried()" ng-cloak>

  <p>
    In addition to your own <u>primary</u> benefit, married couples may earn
    <u>spousal</u> Social Security benefits based on each other's records.
  <p>

  <p>
    To make it easier to read this section of the report, please enter
    a name for yourself and for your spouse below. The names need not be real,
    just something you can use to keep track of who is who in the remainder
    of the report.
  </p>

  <p class=nameEntry>
    Your name: <input type="text"
                      name="yourName"
                      ng-model="recipient.name">
    Spouse's name: <input type="text"
                          name="spouseName"
                          ng-model="spouse.name">
  </p>

  <p>
    For <span class=names>{{recipient.name}}</span>, we will use the values
   based on your <u>primary insurance amount</u> of
    (<b>${{recipient.primaryInsuranceAmountFloored() | number:0}}</b> / month)
    and your birthdate (<b>{{birth.month}}, {{birth.year}}</b>).
    For <span class=names>{{spouse.name}}</span>, you must enter these two
    values.
  </p>
 
  <h3>
    Enter <span class=names>{{spouse.name}}'s</span>
    Primary Insurance Amount
  </h3>
  <p>
    You can compute <span class=names>{{spouse.name}}'s</span>
    <u>primary insurance amount</u> by using this tool once for
    <span class=names>{{spouse.name}}</span>. Note the value, and then
    reload using this tool for <span class=names>{{recipient.name}}</span>,
    entering <span class=names>{{spouse.name}}'s</span>
    <u>primary insurance amount</u> below.
  </p>

  <p>
    <span class=names>{{recipient.name}}'s</span>
    Primary Insurance Amount:
    <b>${{recipient.primaryInsuranceAmountFloored() | number:0}}</b> / month
  </p>

  <p>
    <span class=names>{{spouse.name}}'s</span>
    Primary Insurance Amount: <b>$</b>
    <input type="number" min=0 max={{maxPIA()}} size=6 style="width: 68px"
           name="spousalPia" cast-to-integer
           ng-model="spouse.primaryInsuranceAmountValue"
           ng-change="refreshSlider()">
    / month
  </p>

  <h3>Enter <span class=names>{{spouse.name}}'s</span> Birthdate</h3>
    <div class=agePicker>
    <div class=picker>
      <span ng-repeat="day in [1,2,3,4,5,6,7,8]">
       <input type=radio value="{{day}}" id="spouse-day-{{day}}"
              class=radio ng-model="spouseBirth.day"
              ng-change="updateSpouseBirthdate()">
       <label class="radio day" for="spouse-day-{{day}}">
         <span>{{day}}</span>
       </label>
      </span>
    </div>
    <div class=picker>
      <span ng-repeat="day in [9,10,11,12,13,14,15,16]">
       <input type=radio value="{{day}}" id="spouse-day-{{day}}"
              class=radio ng-model="spouseBirth.day"
              ng-change="updateSpouseBirthdate()">
       <label class="radio day" for="spouse-day-{{day}}">
         <span>{{day}}</span>
       </label>
      </span>
    </div>
    <div class=picker>
      <span ng-repeat="day in [17,18,19,20,21,22,23,24]">
       <input type=radio value="{{day}}" id="spouse-day-{{day}}"
              class=radio ng-model="spouseBirth.day"
              ng-change="updateSpouseBirthdate()">
       <label class="radio day" for="spouse-day-{{day}}">
         <span>{{day}}</span>
       </label>
      </span>
    </div>
    <div class=picker>
      <span ng-repeat="day in [25,26,27,28,29,30,31]">
       <input type=radio value="{{day}}" id="spouse-day-{{day}}"
              class=radio ng-model="spouseBirth.day"
              ng-change="updateSpouseBirthdate()">
       <label class="radio day" for="spouse-day-{{day}}">
         <span>{{day}}</span>
       </label>
      </span>
      <span ng-repeat="day in [32]" class=onlyHidden>
       <input type=radio value="{{day}}" id="spouse-day-{{day}}"
              class=radio ng-model="spouseBirth.day"
              ng-change="updateSpouseBirthdate()">
       <label class="radio day" for="spouse-day-{{day}}">
         <span>{{day}}</span>
       </label>
      </span>
    </div>
    <p></p>
    <div class=picker>
      <span ng-repeat="month in all_months | limitTo:6">
       <input type=radio value="{{month}}" id="spouse-month-{{month}}"
              class=radio ng-model="spouseBirth.month"
              ng-change="updateSpouseBirthdate()">
       <label class="radio month" for="spouse-month-{{month}}"
         ><span>{{month}}</span></label>
      </span>
    </div>
    <div class=picker>
      <span ng-repeat="month in all_months | limitTo:6:6">
       <input type=radio value="{{month}}" id="spouse-month-{{month}}"
              class=radio ng-model="spouseBirth.month"
              ng-change="updateSpouseBirthdate()">
       <label class="radio month" for="spouse-month-{{month}}"
         ><span>{{month}}</span></label>
      </span>
    </div>
    <p></p>
    <div class=picker>
      <span ng-repeat="year in allAgeYears()">
        <input type=radio id="spouse-year-{{year}}" value="{{year}}"
               class=radio ng-model="spouseBirth.year"
               ng-change="updateSpouseBirthdate()">
        <label class="radio year" for="spouse-year-{{year}}"
          ><span>{{year}}</span></label>
      </span>
    </div>
  </div>
  <br class=clear>

  <p class=birthdate>
    <span class=names>{{spouse.name}}</span> was born on
    <b>{{spouseBirth.month}} {{spouseBirth.day}}, {{spouseBirth.year}}</b>.
  </p>

  <h2 id="nav-spouse-benefit">Spousal Benefit</h2>
  <h3>{{higherEarner().name}}</h3>
  <p>
    <span class=names>{{higherEarner().name}}</span> has the higher
    Primary Insurance Amount, which means that
    <span class=names>{{higherEarner().name}}</span> is not eligible for
    any spousal benefits. This is because the benefit one receives is
    always the larger of the personal or spousal benefit. Because
    <span class=names>{{higherEarner().name}}'s</span> own benefit is 
    larger than <span class=names>{{higherEarner().name}}'s</span>
    spousal benefit, <span class=names>{{higherEarner().name}}</span> does not
    get any spousal benefit.
  </p>

  <h3>{{lowerEarner().name}}</h3>
  <div ng-show="!isSpousalBenefit()">
  <p>
    <span class=names>{{lowerEarner().name}}</span> has the lower
    Primary Insurance Amount, therefore
    <span class=names>{{lowerEarner().name}}</span> may be eligible to
    receive a <u>spousal benefit</u> based on
    <span class=names>{{higherEarner().name}}'s</span> personal benefit.
    However, in this case, <span class=names>{{lowerEarner().name}}</span>
    will not receive a <u>spousal benefit</u> as 
    <span class=names>{{lowerEarner().name}}'s</span> own personal benefit
    is more than the spousal benefit earned on
    <span class=names>{{higherEarner().name}}'s</span> Social Security record.
  </p>
  </div><!-- !isSpousalBenefit() -->

  <div ng-show="isSpousalBenefit()">
  <p>
    <span class=names>{{lowerEarner().name}}</span> has the lower
    Primary Insurance Amount, therefore
    <span class=names>{{lowerEarner().name}}</span> may be eligible to
    receive a <u>spousal benefit</u> based on
    <span class=names>{{higherEarner().name}}'s</span> personal benefit.
  <p>
 
  <p>
    <!-- TODO: Compute NRA here. -->
    Let's start by calculating
    <span class=names>{{lowerEarner().name}}'s</span> spousal benefit at
    <span class=names>{{lowerEarner().name}}'s</span> <u>normal retirement
    age</u>: 50% of <span class=names>{{higherEarner().name}}'s</span> personal
    benefit minus <span class=names>{{lowerEarner().name}}'s</span> own
    personal benefit.
  </p>
  </div><!-- isSpousalBenefit() -->

  <ul>
    <li>
      <span class=names>{{lowerEarner().name}}'s</span> Personal Benefit:
      <b>${{lowerEarner().primaryInsuranceAmountFloored() | number:0}}</b>
    </li>

    <li>
      <span class=names>{{higherEarner().name}}'s</span> Personal Benefit:
      <b>${{higherEarner().primaryInsuranceAmountFloored() | number:0}}</b>
    </li>
  </ul>

  <p>
    <span class=names>{{lowerEarner().name}}'s</span> Spousal Benefit:
    ( <b>${{higherEarner().primaryInsuranceAmountFloored() | number:0}}</b>
      <span class=multsymbol>x</span>
      50%
    ) - <b>${{lowerEarner().primaryInsuranceAmountFloored() | number:0}}</b>
    <span class=multsymbol>=</span> <b>${{spousalBenefit() | number:0}}</b>
  </pi>

  <p ng-show="isSpousalBenefit()">
    This spousal benefit (<b>${{spousalBenefit() | number:0}}</b>) is the amount
    <span class=names>{{lowerEarner().name}}</span> will receive in addition to
    <span class=names>{{lowerEarner().name}}'s</span> own personal benefit of
    <b>${{lowerEarner().primaryInsuranceAmountFloored() | number:0}}</b>.
  </p>

  <div ng-show="!isSpousalBenefit()">
  <h3>Final Conclusion</h3>
  <p>
    Since neither <span class=names>{{recipient.name}}</span> nor
    <span class=names>{{spouse.name}}</span> are eligible for a spousal benefit,
    the date each person selects to begin recieving benefits has no effect on
    the total benefit of the other person.

    Use the calculations above for <u>Early and Delayed Retirement</u> to make
    a decision about the best time for each person to begin retirement benefits.
  <p>
  </div><!-- !isSpousalBenefit() -->

  <div ng-show="isSpousalBenefit() && lowerEarner().primaryInsuranceAmountFloored() > 0">
    <div style="width: 100%">
      <div style="width: {{Math.min(75, spousalBenefitFraction())}}%; text-align: center; float:left; white-space:nowrap;">
        Personal (<b>${{lowerEarner().primaryInsuranceAmountFloored() | number:0}}</b>)
      </div>
      <div style="width: {{Math.max(25, 100 - spousalBenefitFraction())}}%; text-align: center; float:left; white-space:nowrap;">
        Spousal (<b>${{spousalBenefit() | number:0}}</b>)
      </div>
    </div>
    <br style="clear: both">
    <div style="width: 100%; background-color: #0db9f0; height: 20px; border: 1px solid #666;">
      <div style="width: {{spousalBenefitFraction()}}%; background-color: #5cb85c; height: 100%; border-right: 1px solid #666">
      </div>
    </div>
    <img style="width: 100%; max-height: 30px; padding-top: 2px;" src="static/horiz-curly.png">
    <div style="width: 100%; text-align: center;">
      Total: <b>${{spousalMax() | number:0}}</b>
    </div>
  </div>

  <p>
    Note that <span class=names>{{lowerEarner().name}}'s</span> <i>total</i>
    benefit (combined personal and spousal benefit) is equal to 50% of
    <span class=names>{{higherEarner().name}}'s</span> <i>personal</i> benefit,
    regardless of
    <span class=names>{{lowerEarner().name}}'s</span> <i>personal</i> benefit.
    This is the case, as long as
    <span class=names>{{lowerEarner().name}}'s</span>
    personal benefit is less than 50% of 
    <span class=names>{{higherEarner().name}}'s</span> personal benefit.
  </p>     

  <h2 id="nav-early-delayed-spouse">Early and Delayed Spouse Retirement</h2>
  <p>
    The personal benefit section at the top of this document describes how
    personal benefits are adjusted when beginning benefits earlier than the
    Normal Retirement Age (NRA) or alternately, delaying past NRA.
  </p>
  <p>
    Spousal benefits do not increase if claimed after Normal Retirement Age,
    but are reduced before Normal Retirement Age 
    (<b>{{lowerEarner().normalRetirementDate.monthFullName()}}
         {{recipient.normalRetirementDate.year()}}</b>) at the same rate as
    personal benefits.
  </p>
  <div class=insetTextBox ng-show="spouseBirth.day === 1 && birth.day !== 1">
    <h4>Special Rule</h4>
    <p>
      The month <span class=names>{{spouse.name}}</span> reaches specific ages
      may seem "off by one" from what you entered. Social Security follows
      English common law that finds that a person "attains" an age on the day
      before the birthday. Because <span class=names>{{spouse.name}}</span> was
      born on the first of the month, this means that
      <span class=names>{{spouse.name}}</span> attains age
			<b>{{spouse.exampleAge().age}}</b> on
      <b>{{spouse.exampleAge().month}} {{spouse.exampleAge().day}},
         {{spouse.exampleAge().year}}</b>.
    </p>
  </div>
  <p>
    If <span class=names>{{lowerEarner().name}}</span> begins spousal
    benefits before Normal Retirement Age
    (<b>{{lowerEarner().normalRetirementDate.monthFullName()}} 
         {{recipient.normalRetirementDate.year()}}</b>),
    the spousal benefit will be <u>permanently</u> <i>reduced</i> per year you
    start early by:
  </p>
  <ul>
    <li><b>6.67%</b> per year if starting AFTER
      <b>{{lowerEarner().normalRetirement.ageYears - 3}} years and 
         {{lowerEarner().normalRetirement.ageMonths}} months</b>
      (<b>{{lowerEarner().dateAtYearsOld(lowerEarner().normalRetirement.ageYears - 3).monthFullName()}}
          {{lowerEarner().dateAtYearsOld(lowerEarner().normalRetirement.ageYears - 3).year()}}</b>)
    </li>
    <li><b>5.00%</b> per year if starting BEFORE
      <b>{{lowerEarner().normalRetirement.ageYears - 3}} years and 
         {{lowerEarner().normalRetirement.ageMonths}} months</b>
      (<b>{{lowerEarner().dateAtYearsOld(lowerEarner().normalRetirement.ageYears - 3).monthFullName()}}
          {{lowerEarner().dateAtYearsOld(lowerEarner().normalRetirement.ageYears - 3).year()}}</b>)
    </li>
  </ul>

  <p>
    The date that <span class=names>{{lowerEarner().name}}'s</span> spousal
    benefits start is the later of either
    <span class=names>{{lowerEarner().name}}</span>'s benefits start date or
    <span class=names>{{higherEarner().name}}</span>'s benefits start date. This
    can lead to different reduction multipliers for the personal and spousal
    benefits.
  </p>

  <p>
  There are two rules that apply to the date that
  <span class=names>{{lowerEarner().name}}</span> can begin taking benefits:
  <ul>
    <li>
      <span class=names>{{lowerEarner().name}}</span> is not eligible to
      begin collecting spousal benefits until
      <span class=names>{{higherEarner().name}}</span> begins collecting
      <span class=names>{{higherEarner().name}}'s</span> primary benefit.
    </li>
    <li>
      <span class=names>{{lowerEarner().name}}</span> must elect to collect
      all of the benefits <span class=names>{{lowerEarner().name}}</span> is
      eligible for, or none at all.
      For example, <span class=names>{{lowerEarner().name}}</span> cannot
      choose to delay personal benefits but collect spousal benefits if
      eligible for both benefits. This is known as the <u>deeming</u> rule:
      you are deemed to be filing for all benefits you are eligible for once
      one decides to file.
    </li>
  </ul>
  </p>

  <h2 id="nav-early-delayed-combined">Early and Delayed Combined Retirement</h2>
  <p>
    You can see how the starting benefit dates for both spouses will affect
    affect the final monthly benefits, using the sliders below.
  </p>

  <div id=spousal-box>
    <canvas id=spousal-chart-canvas width=620 height=620></canvas>
    <p style="margin-bottom: 2px; z-index: 2">
      <b><span class=names>{{higherEarner().name}}</span> starts benefits
        at age:</b>
    </p>

    <!-- See http://angular-slider.github.io/angularjs-slider/ -->
    <div class="force-ticks-above" id="higherEarnerSlider">
      <rzslider rz-slider-model="higherEarnerSlider.value"
                rz-slider-options="higherEarnerSlider.options"
                class="with-legend sliderZ"></rzslider>
    </div>

    <p style="margin-bottom: 2px; z-index: 2">
      <b style="background-color: white">
        <span class=names>{{lowerEarner().name}}</span> starts benefits
        at age:
      </b>
    </p>

    <!-- See http://angular-slider.github.io/angularjs-slider/ -->
    <div class="force-ticks-above" id="lowerEarnerSlider">
    <rzslider rz-slider-model="lowerEarnerSlider.value"
              rz-slider-options="lowerEarnerSlider.options"
              class="with-legend sliderZ"></rzslider>
    </div>
  </div>

  <!-- Div which positions text at the correct y-position below the spousal
    canvas element -->
  <div style="height: 436px;"></div>

  <div ng-show="spousalSelection.show" class=totalSpousalAtDate> 
    <table class=combinedBenefit>
      <tr>
        <td colspan=3>
          <b>In {{spousalSelection.dateText}},</b>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <span class=higherEarner>{{higherEarner().name}}'s Benefit</span>:
        </td><td>
          ${{spousalSelection.higherEarnerBenefit | number:0}}
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <span class=lowerEarner>{{lowerEarner().name}}'s Benefit</span>:
        </td><td>
          ${{spousalSelection.lowerEarnerBenefit | number:0}}
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <b>Total Benefit</b>:
        </td><td>
          ${{(spousalSelection.higherEarnerBenefit + 
              spousalSelection.lowerEarnerBenefit) | number:0}}
        </td>
      </tr>
    </table>
  </div>

  <div class=insetTextBox ng-show="spouseBirth.day > 2 && birth.day <= 2">
    <h4>Special Rule</h4>
    <p>
      You may find it oddly specific that the earliest 
      <span class=names>{{spouse.name}}</span> can actually
      begin benefits is at age 62 and 1 month. Benefit eligibility
      is calculated based on the first month that you are a particular age
      throughout the <u>entire</u> month. For most, this is the month
      <i>after</i> their birthday.
    </p>
    <p>
      For example, the first month that <span class=names>{{spouse.name}}</span>
      is <b>{{spouse.exampleAge().age}}</b> throughout the <u>entire</u> month is
      <b>{{followingMonth(spouse.exampleAge()).month}}
         {{followingMonth(spouse.exampleAge()).year}}</b>.
    </p>
  </div>

  <h2 id="nav-survivor">Survivor Benefits</h2>
  <p>
    Upon the death of <span class=names>{{higherEarner().name}}</span>,
    <span class=names>{{lowerEarner().name}}</span> will receive Survivor
    Benefits. Survivor benefits for
    <span class=names>{{lowerEarner().name}}</span> will replace
    <span class=names>{{lowerEarner().name}}</span>'s own benefit, if
    the Survivor Benefit is larger.
  </p>
  <p>
    The amount of the Survivor Benefit is typically the amount of
    <span class=names>{{higherEarner().name}}</span>'s personal benefit at the
    date of death. This will be reduced if
    <span class=names>{{lowerEarner().name}}</span> begins collecting the
    Survivor Benefit before <span class=names>{{lowerEarner().name}}</span>'s
    Normal Retirement Age
    (<b>{{lowerEarner().normalRetirementDate.monthFullName()}} 
         {{recipient.normalRetirementDate.year()}}</b>).
  </p>
  <p>
    More detail on Survivor Benefits can be found at
    <a href="https://www.ssa.gov/planners/survivors/"
      target="_blank">ssa.gov/planners/survivors</a>.
  </p>
  <p>
    The value of the Survivor Benefit may be something to consider when
    choosing initial benefit dates for both spouses, but especially 
    <span class=names>{{higherEarner().name}}</span>. Delaying current 
    benefits can have an effect similar to life insurance by providing a higher
    Survivor Benefit which will persist throughout the surviving spouse's life.
  </p>
  </div><!-- isSpousalBenefit() -->
</div>
