<div id=spousalBenefit class="benefit-estimate fixed-center-column"
     ng-show="showReport()" ng-cloak>

  <h2>Spousal Benefit</h2>
  <p>
    In addition to your own <u>primary</u> benefit, married couples may be
    able to earn <u>spousal</u> social security benefits based on each other's
    earning records. If you are not married, skip this section.
    <!--TODO: Add some UI element for choosing to hide this section -->
  <p>

  <p>
    To make it easier to read this section of the report, please enter
    a name for yourself and for your spouse below. The names need not be real,
    just something you can use to keep track of who is who in the remainder
    of the report.
  </p>

  <p class=nameEntry>
    Your name: <input type="text"
                      name="yourName"
                      ng-model="recipient.name">
    Spouse's name: <input type="text"
                          name="spouseName"
                          ng-model="spouse.name">
  </p>

  <p>
    For <span class=names>{{recipient.name}}</span>, we will use the values in
    this report for <u>primary insurance amount</u>
    (<b>${{recipient.primaryInsuranceAmountFloored() | number:0}}</b> / month)
    and birthdate (<b>{{birth.month}}, {{birth.year}}</b>).
    For <span class=names>{{spouse.name}}</span>, you must enter these two
    values.
  </p>
 

  <h3>Select <span class=names>{{spouse.name}}'s</span> Birthdate</h3>
  <div class=agePicker>
    <div class=monthPicker>
      <span ng-repeat="month in all_months | limitTo:6">
       <input type=radio value="{{month}}" id="spouse-month-{{month}}"
              class=radio ng-model="spouseBirth.month"
              ng-change="updateSpouseBirthdate()">
        <label class="radio month" for="spouse-month-{{month}}">
          {{month}}
        </label>
      </span>
    </div>
    <div class=monthPicker>
      <span ng-repeat="month in all_months | limitTo:6:6">
       <input type=radio value="{{month}}" id="spouse-month-{{month}}"
              class=radio ng-model="spouseBirth.month"
              ng-change="updateSpouseBirthdate()">
        <label class="radio month" for="spouse-month-{{month}}">
          {{month}}
        </label>
      </span>
    </div>
    <div class=yearPicker>
      <span ng-repeat="year in allAgeYears()">
        <input type=radio id="spouse-year-{{year}}" value="{{year}}"
               class=radio ng-model="spouseBirth.year"
               ng-change="updateSpouseBirthdate()">
        <label class="radio year" for="spouse-year-{{year}}">{{year}}</label>
      </span>
    </div>
  </div>
  <br class=clear>

  <h3>
    Enter <span class=names>{{spouse.name}}'s</span>
    Primary Insurance Amount
  </h3>
  <p>
    You can compute <span class=names>{{spouse.name}}'s</span>
    <u>primary insurance amount</u> by using this tool once for
    <span class=names>{{spouse.name}}</span>, note down the value, and then
    reload using this tool for <span class=names>{{recipient.name}}</span>,
    entering <span class=names>{{spouse.name}}'s</span>
    <u>primary insurance amount</u> below.
  </p>

  <p>
    <span class=names>{{recipient.name}}'s</span>
    Primary Insurance Amount:
    <b>${{recipient.primaryInsuranceAmountFloored() | number:0}}</b> / month
  </p>

  <p>
    <span class=names>{{spouse.name}}'s</span>
    Primary Insurance Amount: <b>$</b>
    <input type="number" min=0 size=6 style="width: 60px"
           name="spousalPia" cast-to-integer
           ng-model="spouse.primaryInsuranceAmountValue"
           ng-change="refreshSlider()">
    / month
  </p>


  <h2>Spousal Benefit Calculation</h2>
  <h3>{{higherEarner().name}}</h3>
  <p>
    <span class=names>{{higherEarner().name}}</span> has the higher
    Primary Insurance Amount, therefore
    <span class=names>{{higherEarner().name}}</span> is not eligible to
    collect spousal benefits. This is because the benefit one recieves is
    always the larger of the personal or spousal benefit and
    <span class=names>{{higherEarner().name}}'s</span> own benefit is 
    larger than <span class=names>{{higherEarner().name}}'s</span>
    spousal benefit.
  </p>

  <h3>{{lowerEarner().name}}</h3>
  <div ng-show="!isSpousalBenefit()">
  <p>
    <span class=names>{{lowerEarner().name}}</span> has the lower
    Primary Insurance Amount, therefore
    <span class=names>{{lowerEarner().name}}</span> may be eligible to
    recieve a <u>spousal benefit</u> based on
    <span class=names>{{higherEarner().name}}'s</span> personal benefit.
    However, in this case, <span class=names>{{lowerEarner().name}}</span>
    will not recieve a <u>spousal benefit</u> as 
    <span class=names>{{lowerEarner().name}}'s</span> own personal benefit
    is more than the spousal benefit earned on
    <span class=names>{{higherEarner().name}}'s</span> social security record.
  </p>
  </div><!-- !isSpousalBenefit() -->

  <div ng-show="isSpousalBenefit()">
  <p>
    <span class=names>{{lowerEarner().name}}</span> has the lower
    Primary Insurance Amount, therefore
    <span class=names>{{lowerEarner().name}}</span> may be eligible to
    recieve a <u>spousal benefit</u> based on
    <span class=names>{{higherEarner().name}}'s</span> personal benefit.
  <p>
 
  <p>
    <!-- TODO: Compute NRA here. -->
    Let's start by calculating
    <span class=names>{{lowerEarner().name}}'s</span> spousal benefit at
    <span class=names>{{lowerEarner().name}}'s</span> <u>normal retirement
    age</u>: 50% of <span class=names>{{higherEarner().name}}'s</span> personal
    benefit minus <span class=names>{{lowerEarner().name}}'s</span> own
    personal benefit.
  </p>
  </div><!-- isSpousalBenefit() -->

  <ul>
    <li>
      <span class=names>{{lowerEarner().name}}'s</span> Personal Benefit:
      <b>${{lowerEarner().primaryInsuranceAmountFloored() | number:0}}</b>
    </li>

    <li>
      <span class=names>{{higherEarner().name}}'s</span> Personal Benefit:
      <b>${{higherEarner().primaryInsuranceAmountFloored() | number:0}}</b>
    </li>
  </ul>

  <p>
    <span class=names>{{lowerEarner().name}}'s</span> Spousal Benefit:
    ( <b>${{higherEarner().primaryInsuranceAmountFloored() | number:0}}</b>
      <span class=multsymbol>x</span>
      50%
    ) - <b>${{lowerEarner().primaryInsuranceAmountFloored() | number:0}}</b>
    <span class=multsymbol>=</span> <b>${{spousalBenefit() | number:0}}</b>
  </pi>

  <p ng-show="isSpousalBenefit()">
    This spousal benefit (<b>${{spousalBenefit() | number:0}}</b>) is the amount
    <span class=names>{{lowerEarner().name}}</span> will recieve in addition to
    <span class=names>{{lowerEarner().name}}'s</span> own personal benefit of
    <b>${{lowerEarner().primaryInsuranceAmountFloored() | number:0}}</b>.
  </p>

  <div ng-show="!isSpousalBenefit()">
  <h3>Final Conclusion</h3>
  <p>
    Since neither <span class=names>{{recipient.name}}</span> nor
    <span class=names>{{spouse.name}}</span> are eligible for a spousal benefit,
    the date each person selects to begin recieving benefits has no effect on
    the total benefit of the other person.

    Use the calculations above for <u>Early and Delayed Retirement</u> to make
    a decision about the best time for each person to begin retirement benefits.
  <p>
  </div><!-- !isSpousalBenefit() -->

  <!--
    TODO: Convert this CSS into a stylesheet format.
  -->
  <div ng-show="isSpousalBenefit() && lowerEarner().primaryInsuranceAmountFloored() > 0">
    <div style="width: 100%">
      <div style="width: {{Math.min(75, spousalBenefitFraction())}}%; text-align: center; float:left; white-space:nowrap;">
        Personal (<b>${{lowerEarner().primaryInsuranceAmountFloored() | number:0}}</b>)
      </div>
      <div style="width: {{Math.max(25, 100 - spousalBenefitFraction())}}%; text-align: center; float:left; white-space:nowrap;">
        Spousal (<b>${{spousalBenefit() | number:0}}</b>)
      </div>
    </div>
    <br style="clear: both">
    <div style="width: 100%; background-color: #0db9f0; height: 20px; border: 1px solid #666;">
      <div style="width: {{spousalBenefitFraction()}}%; background-color: #5cb85c; height: 100%; border-right: 1px solid #666">
      </div>
    </div>
    <img style="width: 100%; max-height: 30px; padding-top: 2px;" src="static/horiz-curly.png">
    <!-- TODO: Create a sideways { that points to total -->
    <div style="width: 100%; text-align: center;">
      Total: <b>${{spousalMax() | number:0}}</b>
    </div>
  </div>

  <p>
    Note that <span class=names>{{lowerEarner().name}}'s</span> <i>total</i>
    benefit (combined personal and spousal benefit) is equal to 50% of
    <span class=names>{{higherEarner().name}}'s</span> <i>personal</i> benefit,
    regardless of
    <span class=names>{{lowerEarner().name}}'s</span> <i>personal</i> benefit.
    This is the case, as long as
    <span class=names>{{lowerEarner().name}}'s</span>
    personal benefit is less than 50% of 
    <span class=names>{{higherEarner().name}}'s</span> personal benefit.
  </p>     

  <h2>Early and Delayed Spousal Filing</h3>
  <p>
    Just like the personal benefit, the spousal benefit can be collected earlier
    than <u>normal retirement age</u> with a <u>permanently</u> <i>reduced</i>
    benefit amount. Unlike the personal benefit, delaying the collection date of
    the spousal benefit until later than <u>normal retirement age</u> will not
    increase the spousal benefit, only the personal benefit.
  </p>

  <p>
  There are two rules that apply to the date that
  <span class=names>{{lowerEarner().name}}</span> can begin taking benefits:
  <ul>
    <li>
      <span class=names>{{lowerEarner().name}}</span> is not eligible to
      begin collecting spousal benefits until
      <span class=names>{{higherEarner().name}}</span> begins collecting
      <span class=names>{{higherEarner().name}}'s</span> primary benefit.
    </li>
    <li>
      <span class=names>{{lowerEarner().name}}</span> must elect to collect
      all of the benefits <span class=names>{{lowerEarner().name}}</span> is
      eligible for or none the benefits.
      For example, <span class=names>{{lowerEarner().name}}</span> cannot
      choose to delay personal benefits but collect spousal benefits if
      eligible for both benefits. This is known as the <u>deeming</u> rule:
      you are deemed to be filing for all benefits you are eligible for.
    </li>
  </ul>
  </p>

  <p>
    Use the sliders below to see how different filing dates affect the
    final monthly benefit for both you and your spouse.
  </p>

  <p style="margin-bottom: 2px; z-index: 2">
  <b><span class=names>{{higherEarner().name}}</span> files at age:</b>
  </p>

  <!-- See http://angular-slider.github.io/angularjs-slider/ -->
  <div class="force-ticks-above" id="higherEarnerSlider">
  <rzslider rz-slider-model="higherEarnerSlider.value"
            rz-slider-options="higherEarnerSlider.options"
            class="with-legend sliderZ"></rzslider>
  </div>

  <p style="margin-bottom: 2px; z-index: 2">
    <b style="background-color: white">
      <span class=names>{{lowerEarner().name}}</span> files at age:
    </b>
  </p>

  <!-- See http://angular-slider.github.io/angularjs-slider/ -->
  <div class="force-ticks-above" id="lowerEarnerSlider">
  <rzslider rz-slider-model="lowerEarnerSlider.value"
            rz-slider-options="lowerEarnerSlider.options"
            class="with-legend sliderZ"></rzslider>
  </div>

  <div style="height: 450px;"></div>

  <p>
    As you can see, if you file for your monthly benefit later in
    life, the actual benefit is larger. Whether it is better to collect
    earlier or later in life depends on several factors:
  <ul>
    <li>
      If you need income earlier in life, that may be an overriding factor
      leading you to file for Social Security <u>earlier</u>.
    </li>
    <li>
      If you are concerned about running out of retirement savings at an age
      where returning to work may no longer be possible, you may choose to
      file <u>later</u> in order to have a higher monthly income later in life.
    <li>
      If you are in good health and feel like you may live longer than average,
      it may be better to ensure a high monthly benefit <u>later</u> in your
      life rather than income in your early retirement years.
    </li>
    <li>
      If you are in poor health, it may be the right choice to file
      <u>earlier</u> because payments stop upon death.
    </li>
  </ul>  
  </p>

  <p>
    In fact, the Social Security Administration designed the increases from
    delaying benefits to be financially neutral to the program. The expected
    payments are the same to the average person regardless of when that person
    first begins taking his or her benefit. This is done using actuarial tables
    of average American life expectancies.
  </p>

  <p>
    Despite many web pages with strong opinions offering the "perfect strategy"
    for maximizing benefits, this is a very personal decision. The financially
    optimal filing date depends on the age at which the recipient dies, which is
    a date no website can predict. Most such sites simply select an average
    life expectancy and use that, but you are unlikely to live to a precisely
    average age.
  </p>

  </div><!-- isSpousalBenefit() -->
</div>
