<div ng-show="showReport()" class="fixed-center-column ng-cloak">
  <h2 id="nav-demodata" ng-show="demoId > -1">Demo Data</h2>
  <p ng-show="demoId === 0">
    Retiree born on July 1st 1950, who earned roughly the average US wage for
    most of their career.
  </p>
  <p ng-show="demoId === 1">
    Retiree born on August 2nd 1950, who earned the maximum Social Security
    wages over five years, but nothing otherwise.
  </p>
  <p ng-show="demoId === 2">
    Earner early in their career, born September 3rd 1985, with a $40,000 per
    year salary in 2005 and a 4% annual raise.
  </p>

  <h2 id=nav-earnings>Earnings Record</h2>
  <table class="fancy-table">
    <thead>
      <tr>
        <th id="workyear">Year</th>
        <th id="taxedearnings">Taxed Earnings</th>
        <th id="multsymbol"></th>
        <th id="multiplier">Multiplier</th>
        <th id="indexedearnings" colspan=2>Indexed Earnings<th>
        <th id="top35indicators"></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="earningRecord in earningsRecords()">
        <td headers="workyear">{{earningRecord.year}}</td>
        <td colspan=5 ng-show="earningRecord.taxedEarnings < 0" style="text-align:center">
          Not yet recorded
        </td>
        <td headers="taxedearnings" ng-show="earningRecord.taxedEarnings >= 0">
          ${{earningRecord.taxedEarnings | number:0}}</td>
        <td headers="multsymbol" ng-show="earningRecord.taxedEarnings >= 0">
          x
        </td>
        <td headers="multiplier" ng-show="earningRecord.taxedEarnings >= 0">
          {{earningRecord.indexFactor | number:2}}
        </td>
        <td headers="eqsymbol" ng-show="earningRecord.taxedEarnings >= 0">
          =
          </td>
        <td headers="indexedearnings"
            ng-show="earningRecord.taxedEarnings >= 0">
          ${{earningRecord.indexedEarning() | number:0}}
        </td>
        <td headers="top35indicators">
          <span ng-if="earningRecord.isTopEarningYear">Top 35 Value</span>
        </td>
      </tr>
    </tbody>
  </table>

  <table class=sliderTable>
   <tr>
    <td>I plan to work for</td>
    <td class=sliderColumn>
      <!-- See http://angular-slider.github.io/angularjs-slider/ -->
      <rzslider rz-slider-model="futureYearsWorkSlider.minValue"
                rz-slider-options="futureYearsWorkSlider.options"></rzslider>
    </td>
    <td>more years,</td>
   </tr>
   <tr>
    <td>Earning approximately</td>
    <td class=sliderColumn>
      <rzslider rz-slider-model="futureWageWorkSlider.minValue"
                rz-slider-options="futureWageWorkSlider.options"></rzslider>
    </td>
    <td>per year.</td>
   </tr>
  </table>

  <span ng-if="futureYears.length > 0">
  <table class="fancy-table">
  <thead>
    <tr>
      <th id="workyear">Year</th>
      <th id="taxedearnings">Taxed Earnings</th>
      <th id="multsymbol"></th>
      <th id="multiplier">Multiplier</th>
      <th id="indexedearnings" colspan=2>Indexed Earnings<th>
      <th id="top35indicators"></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="year in futureYears">
      <td headers="workyear">{{year}}</td>
      <td headers="taxedearnings">
        ${{futureWageWorkSlider.minValue | number:0}}
      </td>
      <td headers="multsymbol">x</th>
      <td headers="multiplier">1.00</td>
      <td headers="eqsymbol">=</th>
      <td headers="indexedearnings">
        ${{futureWageWorkSlider.minValue | number:0}}
      </td>
      <td headers="top35indicators">
       <span ng-if="futureIsTopValue">Top 35 Value</span>
      </td>
    </tr>
  </tbody>
  </table>
  </span>
</div>
