a {
  color: #337ab7;
}
h1 {
  font-size: 2.5em;
  margin-bottom: 0;
}
br.clear {
  clear: both;
}
p,
ul,
ol,
pre {
  font-size: 1.4em;
  color: #333;
}
p.postdate {
  margin: 0.4em 0 1.5em 0;
  font-size: 0.8em;
  color: #666;
}
figure {
  margin: 0;
  width: min-content;
}
img {
  border: 1px solid #ccc;
  max-width: 80vw;
  height: auto;
}
figure.hero-image {
  float: right;
  margin: 0 0 3vw 4vw;
}
.hero-image img {
  height: 24vw;
  width: auto;
}
figcaption {
  font-size: 0.8em;
  text-align: center;
}
figure:not(hero-image) {
  margin: 1.8em 0 1.8em 0;
}
div.indent {
  margin-left: 2em;
}
